Source: penetration-app
Section: unknown
Priority: optional
Maintainer: kasinadhsarma <exploit0xffff@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/penetration-app
#Vcs-Git: https://salsa.debian.org/debian/penetration-app.git

Package: penetration-app
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
