button {
    background-color: #2d2d2d;
    color: #FFFFFF;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #464646;
    transform: scale(1.2);
}

button:active {
    background-color: #1f1f1f;
}

GtkStack {
    background-color: #f8f9fa;
}

label {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 2px #000000;
}

.expander {
    background-color: #F5F5F5;
    border: 2px solid #CCCCCC;
    padding: 10px;
}

.grid {
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 20px;
}

button.go-back-button {
    color: red;
}

/* Add color to the title */
label#title {
    color: #4A90E2; /* Change to your preferred color */
}

/* Change the color of the text inside the expander when it's expanded */
expander label {
    color: #7B7B7B; /* Change to your preferred color */
}

.frame-class {
    margin: 10px;
}
