[Desktop Entry]
Name=PentrationApp
Type=Application
Exec=python3 /usr/share/PentrationApp/main.py
Icon=/usr/share/PentrationApp/icon.png
Categories=$CATEGORIES
Terminal=false